{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_utama.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_kuis.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_pimpinan.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="detail_laporan.css") }}" />
{% endblock %}

{% block content %}

{% include "include/logout.html" %}

<iframe id="iframe" src="{{ url_for('mulai.laporan_print', id=responden.id) }}">

</iframe>

<div class="kotak-judul">
    <h2>Laporan</h2>
    <a href="{{ url_for('mulai.halaman_pimpinan')  }}">Kembali</a>
    <br />
</div>

<div class="kotak-biodata">
    <h2>{{ responden.nama }}</h2>
    <div class="grup">
        <div class="key">N I P</div>
        <div class="value">{{ responden.nip }}</div>
    </div>
    <div class="grup">
        <div class="key">jabatan</div>
        <div class="value">{{ responden.jabatan }}</div>
    </div>
    <div class="grup">
        <div class="key">Instansi</div>
        <div class="value">{{ responden.asal_instansi }}</div>
    </div>
    <div class="grup">
        <div class="key">No Hp</div>
        <div class="value">{{ responden.no_hp }}</div>
    </div>
    <div class="grup">
        <div class="key">email</div>
        <div class="value">{{ responden.email }}</div>
    </div>

    <div class="kotak-cetak">
        <div class="tombol_cetak" id="tombol_cetak">
            cetak
        </div>
    </div>
    
</div>

<div class="kotak-tabel">

    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Pertanyaan</th>
            <th>Ya</th>
            <th>Tidak</th>
            <th>Bukti Pelaksanaan</th>
            
        </tr>
    </thead>
    <tbody id="tbody">
        {% for value in laporan %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ value.kuis.teks }}</td>
            <td id="jawaban_benar" class="kolom-centang">
                {% if value.jawaban.jawaban == "Benar" %}
                <img src="{{ url_for('static', filename='img/centang.png') }}" alt="centang" class="gambar-centang">
                {% endif %}
            </td>
            <td id="jawaban_salah" class="kolom-centang">
                {% if not value.jawaban.jawaban == "Benar" %}
                <img src="{{ url_for('static', filename='img/centang.png') }}" alt="centang" class="gambar-centang">
                
                {% endif %}
            </td>
            <td><a href="{{ value.jawaban.bukti_pelaksanaan }}">{{ value.jawaban.bukti_pelaksanaan }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


    
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename="js/axios.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/pimpinan/detail_laporan.js") }}"></script>

{% endblock %}