{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_utama.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_kuis.css") }}" />
{% endblock %}

{% block content %}
{% include "include/header.html" %}
{% include "include/menu_admin.html" %}


<div class="form-tambah-kuis">
    <div class="header">
        <h2>Tambah Kategori</h2>
    </div>
    <form method="post" id="form_input_kategori" class="myform">
        
        <div class="input">
            <label for="kategori">
                kategori
            </label>
            <input name="kategori" id="kategori" type="text" placeholder="..." required />
        </div>

        <div class="input">
            <span></span>
            <button>simpan</button>
        </div>
        
    </form>
</div>

<div class="kotak-tabel">
   
    <table>
        <thead>
            <tr>
                <th class="rata-tengah">No</th>
                <th>Nama</th>
                <th class="rata-tengah">#</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>1</td>
                <td>Umum</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

   

    
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename="js/axios.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/staf/kategori.js") }}"></script>

{% endblock %}