{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_utama.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="halaman_kuis.css") }}" />
{% endblock %}

{% block content %}
{% include "include/header.html" %}
{% include "include/menu_admin.html" %}

<div class="form-tambah-kuis">
    <div class="header">
        <h2>Tambah Kuis</h2>
    </div>
    <form method="post" id="myform" class="myform">
        <div class="input">
            <label for="teks">
                Pertanyaan
            </label>
            <input name="teks" id="teks" type="text" placeholder="..." required />
        </div>
        <div class="input">
            <label for="kategori">
                kategori
            </label>
            <!-- <input name="kategori" id="kategori" type="text" placeholder="..." required /> -->
            <select name="kategori" id="kategori">
                <option value="">---</option>
                {% for value in kategori %}
                    <option value="{{ value.id }}">{{ value.kategori }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input">
            <span></span>
            <button>simpan</button>
        </div>
        
    </form>
</div>

<div class="kotak-tabel">
   
    <table>
        <thead>
            <tr>
                <th class="rata-tengah">No</th>
                <th>Teks</th>
                <th>Kategori (id)</th>
                <th class="rata-tengah">#</th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename="js/axios.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/staf/kuis.js") }}"></script>

{% endblock %}