@import 'mixin_utama';

.form-tambah-kuis {
    // @include garis;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: white;
    width: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    .header {
        h2 {
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            font-size: large;
        }
        border-bottom: 1px dashed rgb(78, 76, 76);
    }

    .myform {
        // @include garis;
        padding: 10px 30px;
        display: flex;
        flex-wrap: wrap;

        .input {
            // @include garis;
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: start;
            background-color: transparent;
            margin-bottom: 10px;
            
            label, span {
                // @include garis;
                
                color: #484541;
                padding: 10px;
                font-size: large;
                width: 25%;
                text-align: left;
                text-transform: capitalize;
            }

            input {
                // width: 50%;
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #ccc;

                &:focus {
                    outline: 2px solid rgb(206, 166, 166);
                }

            }

            button {
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #ccc;
                background-color: #BED8FB;
                cursor: pointer;
                text-transform: capitalize;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.kotak-tabel {
    // @include garis;
    width: 100%;
    border-collapse: collapse;
    padding: 10px 20px;

    table {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        // background-color: red;
        background-color: #6E7BD9;
        overflow: hidden;

        .rata-tengah {
            text-align: center;
        }

        thead {
            border-radius: 10px;
            background-color: transparent;
            
            th {
                // border-top-left-radius: 10px;
                // border-top-right-radius: 10px;
                background-color: transparent;
                color: white;
                text-align: left;
                padding: 10px 10px;
            }
        }

        tbody {
            background-color: white;

            tr {
                width: 100%;
                td {
                    max-width: 90px;
                    padding: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: rgb(247, 133, 133);
                    color: white;
                }
            }
        }
    }
}
