@import 'mixin_utama';

@media print {
    /* Hide default browser header and footer */
    @page {
        margin: 0;
    }

    body {
        margin: 1cm; /* Add some margin to the content */
    }

    /* Example of other styles you might want to apply for printing */
    .no-print {
        display: none;
    }

    /* You can customize any other styles specific to print here */
}

.kotak-tabel1 {
    // @include garis;
    margin: 10px 20px;
    display: flex;

    table, th, td {
        @include garis;
        border-collapse: collapse;
    }

    th {
        padding: 10px 0;
    }

    .td_no {
        width: 40px;
    }

    .td_jawab {
        width: 50px;
    }

    .td_pertanyaan {
        // width: 200px;
        // background-color: red;
        padding: 0 5px;
    }

    .td_bukti_pelaksanaan {
        // width: 100px;
        padding: 0 5px;
    }

    .td_center {
        text-align: center;
    }
}

.kotak-biodata {
    // background-color: red;

    .grup {
        // background-color: red;

        .key {
            // background-color: red;
            width: 40%;
        }
    }
}
